/* data */
/* data */
/* data */
/* data */
/* data */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
/* @media (max-width: 750px) {
  h1 {
    font-size: 448px;
  }
} */
.navbar {
  font-family: "Inter", sans-serif;
}
.nav-bar-spaces {
  margin-bottom: 10px;
}
.clickable {
  cursor: pointer;
}
.google-drive-list {
  width: 100%;
  height: 600px;
  border: 0;
}
/* .first-body {
  height: 100%;
  background-image: url(./img/wave.svg);
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: cover;
} */

.rstm-toggle-icon {
  display: inline-block;
}
.rstm-toggle-icon-symbol {
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
}

.rstm-tree-item-group {
  list-style-type: none;
  padding-left: 0;
  border: 0.5px solid rgba(204, 204, 204, 0.5);
  border-radius: 2%;
  text-align: left;
  width: 100%;
}

.rstm-tree-item {
  padding: 0.75rem 1rem;
  cursor: pointer;
  color: #333;
  background: none;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  z-index: unset;
  position: relative;
}
.rstm-tree-item--active {
  color: white;
  background: #0275d8;
  border-bottom: none;
}
.rstm-tree-item--focused {
  box-shadow: 0 0 1px 0 #222;
  z-index: 999;
}

.rstm-search {
  /* display:none; */
  padding: 1rem 1.5rem;
  border: none;
  width: 100%;
}
.nav-a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.nav-a:hover {
  color: white;
}
.nav-a:visited {
  color: white;
}

.specialities-div {
  background-color: #0d6efd;
}
.nav-color {
  color: white;
}
.specialities-svg {
  bottom: 0;
  left: 0;
}

.specialities-img {
  position: relative;
}
.bg-test {
  background: linear-gradient(
    142.76deg,
    #afacfb33 0.58%,
    #7cff91 151.76%,
    #a3dc4e 151.76%,
    #a3dc4e 151.76%,
    #a3dc4e 151.76%
  );
}
/* .bg-test2 {
  height: 100%;
  background-image: url(src/img/wave.svg);
  background-size: 100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: cover;
} */
.pattern {
  position: absolute;
  z-index: -1;
  opacity: 0.15;
}
/* .test2 {
  z-index: 1;
} */

.navbar .navbar-collapse {
  text-align: center;
}
